.gpt3__blog-container_article{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: var(--color-footer);
    
}
.gpt3__blog-container_article-img{
    width: 100%;
    height: 100%;
    background: var(--color-bg);
}
.gpt3__blog-container_article-img img{
    width: 100%;
    height: 100%;
}

.gpt3__blog-container_article-content{
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.gpt3__blog-container_article-content p{
    font-size: 11.65px;
    font-weight: 700;
    line-height: 35px;

}

.gpt3__blog-container_article-content h3{
    font-size: 25.11px;
    font-weight: 800;
    line-height: 30.30px;
    margin-bottom: 5rem;
    cursor: pointer;
}

.gpt3__blog-container_article-content p:last-child {
    cursor: pointer;
    max-width: 100px;
}


@media screen and (max-width: 550px) {
    .gpt3__blog-container_article-content h3 {
        font-size: 18px;
        line-height: 25p;
    }
}